*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow: hidden;
}
.page{
    width: 1200px;
    margin: 0 auto;
    max-width: 1250px;
}
img{
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}
.registration{
    width: 100%;
    height: 100vh;
    background-image: url(images/mk.jpg);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.registration__wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.registrtion__name{
    width: 300px;
    height: 50px;
    border: 3px solid rgb(160, 45, 160);
    background-image: url(images/input.jpg);
    background-size: contain;
    outline: none;
    padding: 15px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.registrtion__name::placeholder{
    color: white;
}
.registration__submit{
    padding: 15px 40px;
    background-color: rgb(170, 170, 170);
    border: 3px solid grey;
    outline: none;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-family: Roboto;
}
.fight{
    width: 100%;
    height: 100vh;
    background-image: url(images/mk3-subway-stage.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 0.1px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.fight__wrap{
    width: auto;
    position: relative;
}
.edit-avatar{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 40px;
    left: 5px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 3px;
}
.person__info{
    display: flex;
    gap: 50px;
    margin-top: 35px;
    margin-left: 35px;
    margin-bottom: 130px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-family: Roboto;
}
.person__info_logo{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    background-image: url(images/input.jpg);
    padding: 10px 10px 0 10px;
}
.person__info_name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.fight__player{
    width: 150px;
    height: 350px;
    margin-left: 100px;
}
.health{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    background-color: red;
    overflow: hidden;
    position: relative;
}
.health-line{
    width: 100%;
    height: 100%;
    background-color: green;
}
.person__info_check{
    position: absolute;
    right: 35px;
    top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 480px;
    transition: all ease-in-out .5s;
    transform: translateX(700px);
}
.person__info_check.active{
    transform: translateX(0px);
}
.person__info_check img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    background-image: url(images/input.jpg);
    cursor: pointer;
}
.enemy-wrap{
    width: auto;
    margin-right: 35px;
    transition: all ease-in-out .5s;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.enemy-wrap.active{
    opacity: 0;
}
.enemy__info_logo{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    background-image: url(images/input.jpg);
    padding: 10px 10px 0 10px;
    transform: scaleX(-1);
}
.enemy__player{
    transform: scaleX(-1);
    width: 150px;
    height: 350px;
    margin-right: 80px;
}
#enemy-health{
    transform: scaleX(-1);
}
.name-settings{
    position: relative;
    display: block;
}
.name-wrap{
    opacity: 1;
    transition: all ease-in-out .5s;
}
.name-wrap.active{
    opacity: 0;
}
.rename{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -40px;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.rename-form{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    display: none;
}
.rename-form.active{
    display: block;
}
.config{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    position: relative;
}
.start{
    width: 150px;
    height: 30px;
    cursor: pointer;
}
.white{
    color: white;
    font-weight: bolder;
}
.change-person{
    width: 100px;
    height: 30px;
    position: absolute;
    top:  40px;
    left: 0px;
    cursor: pointer;
}
.enemy__info{
    position: relative;
}
.person-number,
.enemy-number{
    position: absolute;
    top: 2px;
    left: 40%;
    z-index: 100;
}
.enemy-number{
    transform: scaleX(-1);
}
.log-wrap{
    width: 500px;
    height: 200px;
    background-color: #fff;
    position: absolute;
    bottom: 130px;
    left: -135px;
    overflow-y: scroll;
}
.red{
    color: red;
    font-size: 18px;
}
.green{
    color: green;
    font-size: 18px;
}
.bold{
    font-weight: bold;
    font-size: 18px;
}
.blue{
    color: rgb(0, 101, 253);
    font-size: 18px;
}
.orange{
    color: orange;
    font-size: 18px;
}
.table-atack{
    background-color: #fff;
    padding: 15px;
    font-family: Roboto;
}
.label-atack{
    margin-right: 10px;
}
.label-atack:last-child{
    margin-right: 0;
}